In [1]:
from datos import *
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('C:\\Users\\jairoruiz\\Documents\\GitHub\\calidad_datos\\x_test_data.xlsx')

In [3]:
df.shape

(1239, 51)

In [4]:
df.head(2)

,Id,Nombre de la simulación,TipoDocumentoId,NumIdTributaria,TipoUsuarioId,Moneda Local,FechaCreacion,Tipousuario,Estado2,Estado,...,Cantidad por producto,valor total de la simulacion,Valor total de la simulacion USD,PesoTotalKg,VolumenTotalMtsCub,Fecha creación,Nombre de Alternativa,Pais OrigenTI,Ciudad OrigenTI,Pais DestinoTI
0,28233,CAFE,1.0,x,3,COP,NaN,Otro,True,True,...,NaN,0.0,0.0000,0.0,0.0,43601.569546,NaN,NaN,NaN,NaN
1,13380,bolso3,1.0,NaN,3,COP,NaN,Otro,True,True,...,1.0,300000.0,1.3379,2.5,0.1,43025.728419,1,Colombia,Buenaventura,Canadá

In [6]:
temp = correlacion(df, variables=['Id', 'UCO alto', 'UCO largo', 'UCO volumen'])
temp

                   Id  UCO alto  UCO largo  UCO volumen
Id           1.000000 -0.030113   0.030602    -0.046212
UCO alto    -0.030113  1.000000   0.005742     0.927618
UCO largo    0.030602  0.005742   1.000000     0.005279
UCO volumen -0.046212  0.927618   0.005279     1.000000

In [12]:
type(temp)

pandas.core.frame.DataFrame